 html {
     scroll-behavior: smooth;
 }

 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Lato', Helvetica, Arial;
     color: black;
 }

 #home {
     background-image: url(./images/header.jpg);
     background-size: 100% 100%;
     height: 28.8rem;
     width: 51.2rem;
     position: relative;
 }

 #home .header {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0.934rem 3.2rem 0 3.2rem;
     color: white;
 }

 #home .header .logo {
     height: 1.28rem;
 }

 #home .header .text a {
     text-decoration: none;
     color: white;
     margin-left: 3rem;
     font-size: 0.64rem;
 }

 #home .title {
     color: white;
     font-size: 2.8rem;
     letter-spacing: -2px;
     font-weight: 700;
     text-align: left;
     line-height: 3.734rem;
     position: absolute;
     top: 9.9rem;
     margin-left: 3.3rem;
 }

 #home .title .googleplay{
     width: 11.894rem;
     margin-top: 4.2rem;
     border-radius: 0.3rem;
 }

 .box {
    background-image: url(./images/background.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
 }

 #apps {
    width: 50%;
    align-self: end;
    height: 25.14rem;
    padding: 2.6rem 6rem 0 2rem;
}

#aboutUs {
    width: 60%;
    align-self: start;
    height: 25.14rem;
    padding: 2.6rem 2rem 0 7rem;
}

 #chooseUs {
     width: 65%;
     align-self: end;
     height: 25.14rem;
     padding: 2.6rem 6rem 0 2rem;
 }

 .session {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    font-family: AlibabaPuHuiTi-Medium, AlibabaPuHuiTi;
 }

 .session .title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    line-height: 1.867rem;
 }

 .session .discript{
    font-size: 0.907rem;
    font-weight: 600;
    line-height: 1.367rem;
    margin-top: 0.774rem;
    text-align: justify;
 }

 .session .discript div{
    margin-bottom: 0.45rem;
 }

 .session .discript div:last-child{
    margin-bottom: 0;
 }

 .session .content{
    font-size: 0.78rem;
    font-weight: 600;
    color: #333333;
    line-height: 1.28rem;
    margin-top: 0.774rem;
    text-align: justify;
 }

 .session .content div{
    margin-bottom: 0.45rem;
 }

 .session .content div:last-child{
    margin-bottom: 0;
 }

 #footer {
     width: 100%;
     height: 2.5rem;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: black;
     color: white;
 }

 #footer div:last-child{
    display: flex;
    align-items: center;
 }

 #footer .mail{
    margin-left: 0.8rem;
    height: 1.2rem;
    margin-right: 0.2rem;
 }